extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Nabila Taufiq

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Hi!  I am Nabila Taufiq.  I am a Full Stack JavaScript Developer Apprentice.  This portfolio is all the projects I have worked on during completing my Treehouse Techdegree.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- My skills.
        ul
          li HTML
          li CSS
          li Fullstack Javascript
          li Node
          li Express 
          li Pug
          li JQuery
          li API
          li OOP
          li JSON
          li AJAX


        h6 Contact Info

        //- My contact info
        ul
          li 517-980-4904
          li nabila.b.taufiq@gmail.com

        //- URLs to my social media accounts.
        //-a.button.expanded(href='') LinkedIn
        a.button.expanded(href='https://github.com/taufina') GitHub
        //-a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  