extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      //- Title of my portfolio.
      h1 Hello!  Welcome to my portfolio!  

      //- Description of my portfolio, what this project is, it's purpose, what it's suppossed to accomplish, etc. 
      p.lead.text-light
      
        | This portfolio is a collection of various projects I have worked on during the TeamTreehouse Full Stack Javascript course.

  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      //- Displaying the image, title of each project and linking to the project page.           
      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.mainimage}`)
            h5 #{project.project_name}
      
